element {
    --main-color: #2f80ed;
    --second-color: #333333;
}
html {
    font-family: Roboto, sans-serif;
    margin: 0 0 0 20px;
}

h2 {
    color: var(--second-color)
}

header {
    display: inline-block;
}

.inline li{ 
    display: inline; 
    padding: 20px;
}

.logo {
    height: 30px;
    width: auto;
}
.box {
    position: relative;
    overflow:hidden;
    width:250px;
    height:250px;
    border-radius: 50%;
 }
 
 .box img {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:300px;
    height:300px;
    object-fit:cover;
 }